<!DOCTYPE html>
<html>
  <head>
    <title>RailsTutorial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header-title">
        <h2>TaskManegement</h2>
      </div>
    </div>
  <% if @task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
        <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%if flash[:notice]%>
    <div class="flash">
      <%= flash[:notice]%>
    </div>
  <% end %>
    <footer>
    </footer>
    <%= yield %>
  </body>
</html>
